html, body {
	margin: auto;
	padding: auto;
	font-family: 'Open-Sans', sans-serif;
}

html, body {
		height:100%;
		margin-top: -3px;
		background-color: #f1f1f1;
}

header {
	background:#589442;
	height: 100px;
	box-shadow: 0 0 10px black;
	position: sticky;
	top: 0;
}

header h1 {
	color:white;
	font-family: sans-serif;
	padding: 15px;
	margin: 0;
	text-align: center;
}

header ul {
	display: flex;
	justify-content:space-around;
	margin:0;
}
header ul a {
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	padding-bottom:15px;
}

header ul li {
	list-style-type: none;
}

#main {
	margin: auto;
	margin-top: 20px;
	width: auto;
	height: 85%;
	/*text-align:center;*/
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.showAbonne {
	text-align: center;
}

#questions_fac {
	display : none;
}

#butt_question:checked ~ #questions_fac{
	display : initial;
}

#erreur {
	color: red;
}

img {
	height: 200px;
	width: auto;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
.dispo{
	display: flex;
	flex-wrap: wrap;
	margin:20px;
}
.month{
	margin:20px;
}
 td{
 	background-color: lightpink;
 }

 .calendar-day-head, .calendar-day-np{
 	background-color: white;
 }